.jumbotron
  table#settings.display(cellspacing='0', width='100%')
    thead
      tr
        th Full Name
        th Username
        th Mobile Number
        th Email Address
        th Receive Alerts
      tr
        td #{user.fullname}
        td #{user.username}
        td #{user.mobile}
        td #{user.email}
        td #{user.email_alerts}



  p
  #edit-details
    include edit_details.pug


  #recent-posts
    include display_posts.pug


  p
  #change-password
    include reset.pug
  
  p
  #leave-recycle
    include leave-recycle.pug


  input.btn.btn-outline-primary(type='button',  onclick='toggleDetails()', name='EditDetailsButton', value='Edit Details')
  |&nbsp;
  |&nbsp;
  input.btn.btn-outline-primary(type='button',  onclick='togglePosts()', name='RecentPostsButton', value='Recent Posts')
  |&nbsp;
  |&nbsp;
  input.btn.btn-outline-primary(type='button',  onclick='togglePassword()', name='PasswordButton', value='Change Password')
  |&nbsp;
  |&nbsp;
  input.btn.btn-outline-primary(type='button',  onclick='toggleLeave()', name='LeaveButton', value='Leave Recycle')

  if (locals.noaddress)
    .alert.alert-warning(role='alert')
      strong Alert!
      | No account with that email address exists

block scripts
  script.
    $(document).ready(function() {
      $('#displayPosts').DataTable();
    } );

    function toggleDetails() {
    // Close other buttons
    var myRecentPosts = document.getElementById('recent-posts');
    myRecentPosts.style.display = 'none';
    var myChangePassword = document.getElementById('change-password');
    myChangePassword.style.display = 'none';
    
    var myLeaveRecycle = document.getElementById('leave-recycle');
    myLeaveRecycle.style.display = 'none';

    // get the clock
    var myEditDetails = document.getElementById('edit-details');

    // get the current value of the clock's display property
    var displaySetting = myEditDetails.style.display;

    // also get the clock button, so we can change what it says
    var EditDetailsButton = document.getElementById('EditDetailsButton');

    // now toggle the clock and the button text, depending on current state
    if (displaySetting == 'block') {
    // clock is visible. hide it
    myEditDetails.style.display = 'none';
    // change button text
    EditDetailsButton.innerHTML = 'Edit Details';
    }
    else {
    // clock is hidden. show it
    myEditDetails.style.display = 'block';

    // change button text
    EditDetailsButton.innerHTML = 'Hide Edit Details';
    }

    }

    function togglePosts() {
    // Close other buttons
    var myEditDetails = document.getElementById('edit-details');
    myEditDetails.style.display = 'none';
    var myChangePassword = document.getElementById('change-password');
    myChangePassword.style.display = 'none';
    var myLeaveRecycle = document.getElementById('leave-recycle');
    myLeaveRecycle.style.display = 'none';



    // get the clock
    var myRecentPosts = document.getElementById('recent-posts');

    // get the current value of the clock's display property
    var displaySetting = myRecentPosts.style.display;

    // also get the clock button, so we can change what it says
    var RecentPostsButton = document.getElementById('RecentPostsButton');

    // now toggle the clock and the button text, depending on current state
    if (displaySetting == 'block') {
    // clock is visible. hide it
    myRecentPosts.style.display = 'none';
    // change button text
    RecentPostsButton.innerHTML = 'Recent Posts';
    }
    else {
    // clock is hidden. show it
    myRecentPosts.style.display = 'block';
    // change button text
    RecentPostsButton.innerHTML = 'Hide Recent Posts';
    }
    }

    function togglePassword() {
    // Close other buttons
    var myEditDetails = document.getElementById('edit-details');
    myEditDetails.style.display = 'none';
    var myRecentPosts = document.getElementById('recent-posts');
    myRecentPosts.style.display = 'none';
    
    var myLeaveRecycle = document.getElementById('leave-recycle');
    myLeaveRecycle.style.display = 'none';

    // get the clock
    var myChangePassword = document.getElementById('change-password');

    // get the current value of the clock's display property
    var displaySetting = myChangePassword.style.display;

    // also get the clock button, so we can change what it says
    var PasswordButton = document.getElementById('PasswordButton');

    // now toggle the clock and the button text, depending on current state
    if (displaySetting == 'block') {
    // clock is visible. hide it
    myChangePassword.style.display = 'none';
    // change button text
    PasswordButton.innerHTML = 'Change Password';
    }
    else {
    // clock is hidden. show it
    myChangePassword.style.display = 'block';
    // change button text
    PasswordButton.innerHTML = 'Hide Change Password';
    }
    }

    

    function toggleLeave() {
    // Close other buttons
    var myEditDetails = document.getElementById('edit-details');
    myEditDetails.style.display = 'none';
    var myRecentPosts = document.getElementById('recent-posts');
    myRecentPosts.style.display = 'none';
    var myChangePassword = document.getElementById('change-password');
    myChangePassword.style.display = 'none'
    

    // get the clock
    var myLeaveRecycle = document.getElementById('leave-recycle');

    // get the current value of the clock's display property
    var displaySetting = myLeaveRecycle.style.display;

    // also get the clock button, so we can change what it says
    var LeaveButton = document.getElementById('LeaveButton');

    // now toggle the clock and the button text, depending on current state
    if (displaySetting == 'block') {
    // clock is visible. hide it
    myLeaveRecycle.style.display = 'none';
    // change button text
    LeaveButton.innerHTML = 'Leave Recycle';
    }
    else {
    // clock is hidden. show it
    myLeaveRecycle.style.display = 'block';
    // change button text
    LeaveButton.innerHTML = 'Hide Leave Recycle';
    }
    }

span.clearfix
